{%extends 'base.html'%}
{% block Body %}
  <style>
    .container-class {
      display: flex;
      justify-content: center;
      
      min-height: 100vh;
      margin-top: 20px; /* Adjust the margin-top value as needed */
    }
    .table th, .table td {
      vertical-align: middle;
    }
    .table th {
      text-align: center;
    }
    .custom-table th,
    .custom-table td {
        padding: 15px; /* You can adjust the value to increase or decrease the spacing */
    }
  </style>
  

  <div class="container ">
    <h1 class="text-center ">Your Shopping Cart</h1>
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Product Image</th>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        {%for items in cartitems%}
        <tr>
          <td>
            {% comment %} <div class="d-flex align-items-center"> {% endcomment %}
              <img src="{{items.product.image.url}}" alt="Product Image" style="max-width: 100px;">
              
            {% comment %} </div> {% endcomment %}
          </td>
          <td><h5>{{items.product.name}}</h5>
            <p>Product 1 Description | Size: Medium</p></td>
          <td><input type="number" id="quant" value={{items.quantity}} min="1">
              <button onclick="myFunction()">Save</button></td>
          <td>{{items.product.price}}</td>
        </tr>
        {%endfor%}
        
      </tbody>
    </table>
    <div class="text-center">
      <h4>Total: $44.97</h4>
      <button class="btn btn-primary">Checkout</button>
    </div>
  </div>

  <script>
    funtion myFunction(){
      var x=document.getElementById("quant").value;
      items.quantity=x.value

    }
  {%endblock%}