{%extends 'base.html'%}
{% block Body %}
  

  <style>
    .container-class {
      display: flex;
      justify-content: center;
      
      min-height: 100vh;
      margin-top: 20px; /* Adjust the margin-top value as needed */
    }
    .table th, .table td {
      vertical-align: middle;
    }
    .table th {
      text-align: center;
    }
    .custom-table th,
    .custom-table td {
        padding: 15px;
    }
  </style>
  

  <div class="container ">
    <h1 class="text-center ">Your Shopping Cart</h1>
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Product Image</th>
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        {%for items in cartitems%}
        <tr>
          <td>
              <img src="{{items.product.image.url}}" alt="Product Image" style="max-width: 100px;">
          </td>
          <td><h5>{{items.product.name}}</h5>
            <p>Product 1 Description | Size: Medium</p></td> 
          {% csrf_token %}
          <td><input type="number" id="quant{{items.id}}" value={{items.quantity}} min="1">
              <button id="update_button" onclick="update_button('{% url 'updateQuantity' items.id %}',{{items.id}})" >Save</button></td>
          <td >{{items.product.price}}</td>
        </tr>
        {%endfor%}
        
      </tbody>
    </table>
    
    <form method="POST" action="/store/cart/checkout/">
      {% csrf_token %}
      <h4 id="final_price">₹{{total_price}}</h4>
      <button class="btn btn-primary " >Checkout</button>
    </form>
    
  </div>

  
  
  <script >
    
    function update_button(update_url,itemId){
      
      var quantity=document.getElementById('quant'+itemId).value
      var token=$('input[name=csrfmiddlewaretoken]').val();

      jQuery.ajax({
        method:"POST",
        url:update_url,
        data:{
          'quantity':quantity,
          csrfmiddlewaretoken:token

        },
        dataType:'json',
        success: function(response){
          console.log(response.status,response.data)
          const final_price=document.getElementById('final_price')
          console.log(final_price)
          final_price.textContent="₹"+response.data.toString()
        }

      });
    };

    
    
  </script>
  {%endblock%}