{%extends 'base.html'%}
{% block Body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2 class="mt-4 ">Checkout</h2>
    <div class="row mt-4">
        <div class="col-md-8">
            <h3>Billing Information</h3>
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Full Name">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Billing Address">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" placeholder="City">
                </div>
                <div class="form-group">
                    <label for="zip">ZIP Code</label>
                    <input type="text" class="form-control" id="zip" placeholder="ZIP Code">
                </div>
            </form>
            <h3>Payment Information</h3>
            <form>
                <div class="form-group">
                    <label for="card">Credit Card</label>
                    <input type="text" class="form-control" id="card" placeholder="Credit Card Number">
                </div>
                <div class="form-group">
                    <label for="exp">Expiration Date</label>
                    <input type="text" class="form-control" id="exp" placeholder="MM/YY">
                </div>
                <div class="form-group">
                    <label for="cvv">CVV</label>
                    <input type="text" class="form-control" id="cvv" placeholder="CVV">
                </div>
            </form>
        </div>
        <div class="col-md-4">
            
                <h3>Order Summary</h3>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="font-size: 12px">Product</th>
                                <th scope="col" style="font-size: 12px">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cartitems %}
                                <tr>
                                    <td>{{ item.product.name }}</td>
                                    <td>{{ item.quantity }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        
                    </table>
                    
                    
            
        
                <h3 class="mt-4">Coupons</h3>
                
                    <div class="form-group">
                        <label for="couponCode">Coupon Code</label>
                        <input type="text" class="form-control" id="couponCode" placeholder="Enter coupon code">
                    </div>
                    <button type="submit" class="btn " style="background-color: #e7e7e7; color: black;" id="applycoupon">Apply Coupon</button>
                
                    <h6 class="ml-2 mt-4" id="subtotal">Subtotal : ₹{{total_price}}</h4>
            
        </div>
    </div>
    
    
    <button type="submit" class="btn btn-primary mt-4" id="pay-btn">Place Order</button>
    
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    
    document.getElementById("applycoupon").addEventListener("click", function(){
        coupon=document.getElementById("couponCode").value
        jQuery.ajax({
            type: "POST",
            url: "{% url 'applycoupon'%}",
            data: {
                'coupon':coupon
            },
            dataType: 'json',
            success:function(response){
                if(response.message="success"){
                    console.log(response.totalprice)
                    const subtotal=document.getElementById("subtotal")
                    subtotal.textContent="Subtotal : ₹"+response.totalprice
                    
                }
                
            }
        });
    });
    var options = {
       
        // Enter the Key ID generated from the Dashboard
        key: "{{ razorpay_merchant_key }}", 
        amount: "{{ razorpay_amount }}", 
        currency: "{{ currency }}",
        name: "E-COM", 
        order_id: "{{ razorpay_order_id }}", 
        callback_url: "{{ callback_url }}",
      };
    
      var rzp1 = new Razorpay(options);
       
      // add event listener to the payment button.
      document.getElementById("pay-btn").onclick = function (e) {
        rzp1.open();
        e.preventDefault();
      };
   

</script>
</body>
</html>
{%endblock%}