{%extends 'base.html'%}


{% block Body %}

  <div class="container mt-5">
    <div class="row">
      <!-- Categories Column -->
      <div class="col-md-3">
        <div class="list-group">
         
          {%for category in categories%}
          <a href="/store/?category={{category.id}}" class="list-group-item list-group-item-action">{{category}}</a>
          <!-- Add more categories as needed -->
          {%endfor%}
        </div>
      </div>
  

      <!-- Products Column -->
      <div class="col-md-9">
        <div class="row">
          {%for product in products%}
          <div class="col-md-4 mb-4">
            
            <div class="card">
              <img src="{{product.image.url}}" class="card-img-top" alt="Product 1">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.price}}</p>
                {%if profile%}
                
                
                {%if product in product_incartitem %}
                
                <form method="GET" action="">
                  {% csrf_token %}
                  
                  <button type="submit" class="btn btn-primary disbaled">Added to Cart</button>
                  
                </form>
                {%else%}
                <form method="POST" action="">
                  {% csrf_token %}
                  <input type="hidden" name="product_id" value="{{ product.id }}">
                  <button type="submit" class="btn btn-primary ">Add to Cart</button>
                </form>
                {%endif%}
                

                {%else%}
                <a href="/signup/" class="btn btn-primary">Add to Cart</a>
                {%endif%}
              </div>
            </div>
            
          </div>
          {%endfor%}
          
          <!-- Add more product cards as needed -->
        </div>
      </div>
    </div>
  </div>


{%endblock%}